{% extends "admin/change_form.html" %}
{% load i18n %}

{% block object-tools-items %}
    {% if original %}
        <li>
            <a href="{% url 'admin:chiffrage_devis_builder' original.pk %}"
               class="cursor-pointer flex grow items-center gap-2 px-3 py-2 text-left whitespace-nowrap">
                <span class="material-symbols-outlined">construction</span>
                Constructeur de devis
            </a>
        </li>
    {% endif %}
    {{ block.super }}
{% endblock %}
